

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

.register-title {
  padding-top: 4em;
  margin: auto;
}

.register-form {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3rem;
  margin: auto;
  width: 70%;
}

.register-form-button {
  display: block;
  align-self: center;
  background-color: (0,0,0,1);  
}
/*--------------------------------*/


.active {
  // display: none;
}


/////////////////////////////////@include

