
.item-card {
  width: 25%;
}

.background-card-image {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
 
}

.add-cart-button {
  
  position: absolute;
  top: 80%;
  right: 0;
}

.item-card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 2px;
  font-size: 16px;
  font-weight: 700;
 
}
