.collection-style {
  max-width: 95%;
  margin: auto ;
  @media screen and (max-width: 800px) {
    max-width: 85%;
    // margin: 0 30px ;
  }
  // margin-bottom: 50px;
}

.collection-style-title {
  &:hover {
    cursor: pointer;
  }
}

.preview {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  gap: 8px;
  @media screen and (max-width: 800px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}