.menu-section{
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 2px solid;
  text-align: center;
  background-position: center;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  // background-size: 470px auto ;
  // overflow: hidden;
  // background-image: url('SNEAKERS.jpg');  
  &:hover{
    cursor: pointer;
    
    & .background-image {
      transform: scale(1.1);
    }

    & .item-content{
      opacity: 0.9;
    }
  } 
}


.background-image {
  // display: block;
  width: 100%;
  height: 100%;
  transition: transform 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  // &:hover {
  //   cursor: pointer;
  //   transform: scale(1.1);
  // }
  // border: 2px solid;
  // padding: 0px;
  // margin: 0px;
}

.item-content {
  background-color: whitesmoke;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;  
  width: 90px;
  height: 90px;
  padding: 0 10px;
  position: absolute;
  border: 2px solid;
  // padding: auto;
  & .title {
    color: #252323;
    font-size: 22px;  
    padding-top: 15px;  
    margin: 0px; 
  }
  & .subtitle {
    font-size: 18px;
    padding-bottom: 10px;
    margin : 0px;
  }
}