$accent-color: linear-gradient(90deg,#ed145b 0,#7b31f4);

.cart-slider {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 530px;
  @media screen and (max-width: 800px) {
    width: 300px;
  }
  background-color: white;
  position: fixed;
  right: 0px;
  top: 0px; 
  z-index: 1700;
  box-shadow: 20px 0px 30px black;
  // transition: width 2s;
  // will-change: width;
  // .cart-dropdown.scale {
  //   width: 50rem;
  // }

  overflow: scroll;
}

.cart-slider-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
}

.cart-slider-header-text {
  margin: 30px 10px;
}

.close-icon {
  &:hover {
    cursor: pointer;
  }
}

.close-icon {
  margin: 32px 10px;
}

.cart-slider-items {
  position: relative;
  background-color: white;
  margin: 10px;
  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // overflow: scroll;
  
}

.cart-slider-empty-msg {
  // padding-top: 60px;
  height: 500px;
  position: relative;
  // margin-top: 100px;
  & >p {
    font-size: 22px;
    position: absolute;
    margin: 0px;
    top: 40%;
    left: 35%;
    opacity: .4;
    // padding-top: 30px;
    // margin-top: 200px;
  }
}

// .cart-slider-checkout-btn{
//   background: $accent-color;
//   &:hover {
//     background: black;
//   }

// }