.homepage-directory {
  display: grid;
  padding: 50px;
  grid-template-rows: 2fr 3fr;
  height: 700px;
  margin: 0px;
}


.homepage-clothes-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-gap: 6px;
  margin-bottom: 6px;
  // height: 270px;
  // @include menu-section() 
}
  
    
.homepage-gender-menu {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 6px;
    // height: 420px;
    // @include menu-section()
}


    


      