
.login-page {
  display: block;
  height: 87vh;
}

.login-page-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.login-page-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
  background-color: black;
  opacity: .7;
  color: white;
  overflow:hidden;
}

.login-forms {
  display: block;
  width: 65%;
  height: 100%;
  background-color: white;
  opacity: .7;
  overflow: scroll;
}

/*--------------------*/
.splide__arrow {
  background-color: rgba(0,0,0,0);
}

.splide__arrow--prev svg { 
  transform: scale(-1) scale(2);
}

.splide__arrow--next svg { 
  transform: scale(2);
  
}

.splide__arrow svg {
  fill: #e00bcb;
}

.splide__pagination {
  bottom: auto;
}

.splide__pagination__page {
  width: 20px;
  height: 4px;
  border-radius: 3px;
  background-color: gray;
  
}

.splide__pagination__page.is-active {
  background-color: #e00bcb;
}

/* logo styles */

.login-page-logo {
  transform: scale(7.5) rotateX(180deg);
}